.navbar {
  .nav-link {
    position: relative;
    padding: 0.5rem 1rem;
    color: #000;
    transition: color 0.2s ease-in-out;

    &.active::after,
    &:hover::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #007bff; /* Blue color */
      transition: all 0.3s ease-in-out;
    }
  }
}
